<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp container">
    <thead>
      <tr >
      	<th class="mdl-data-table__cell--non-numeric"><h2 class="text-center">EXAMPLES</h2></th>
      </tr>
    </thead>
</table>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp container">
  <thead>		   
    <tr >
      <th class="mdl-data-table__cell--non-numeric "><h5 class="text-center">Basic</h2></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-click="goToExample(1)">
      <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Laminate </td>
    </tr>
  </tbody>
</table>